<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <p>This page is about me and my project.</p>
    </main>

    <%- include('partials/footer') %>